In [0]:
import pandas as pd
import numpy as np

main_comm_df = pd.read_excel('/content/drive/My Drive/Capstone_3/Base_data/master_comm.xlsx')

prop_info_df = pd.read_csv('/content/drive/My Drive/Capstone_3/Base_data/prop_info.csv')

sales_hist_df = pd.read_csv('/content/drive/My Drive/Capstone_3/Base_data/sales_hist.csv')

year_built_df = pd.read_csv('/content/drive/My Drive/Capstone_3/Base_data/yearbuilt_info_master.csv')

In [0]:
main_comm_df

In [0]:
main_comm_df.columns

Index(['Source.Name', 'Owner_Mail_Name', 'Owner_Mail_Addr2', 'Owner_Mail_City',
       'Owner_Mail_State', 'Prop_Use_Code', 'Prop_Use_Desc', 'NBHD_Code',
       'NBHD_Desc', 'HtdSqFt', 'Acres', 'SBDV_Code', 'SBDV_Desc', 'Land_Value',
       'Improvement_Value', 'Deferred_Value', 'County_Exempt_Amount',
       'School_Exempt_Amount', 'Loc_Address', 'Sale_Date', 'Sale_Price',
       'Parcel', 'Year Built', 'Effective Year Built', 'Sale_Vac_Imp',
       'Sale_Qualified'],
      dtype='object')

In [0]:
comm_df = main_comm_df.drop(columns = ['Source.Name', 'Owner_Mail_Addr2', 'Owner_Mail_City', 'Owner_Mail_State', 
                                       'NBHD_Code', 'SBDV_Code', 'SBDV_Desc', 'Deferred_Value', 'County_Exempt_Amount',
                                       'School_Exempt_Amount', 'Sale_Date', 'Sale_Price', 'Effective Year Built', 'Sale_Vac_Imp',
                                       'Sale_Qualified', 'Year Built'])

In [0]:
comm_df = comm_df.drop_duplicates(subset='Parcel')

In [0]:
comm_df

                  Owner_Mail_Name  ...         Parcel
0                 WHITNEY MHC LLC  ...  05983-000-000
3                       NJ3 LLC    ...  06013-005-006
6                  THE PANTRY INC  ...  06014-001-080
7                     NW OAKS LLC  ...  06014-005-000
9      LIVE OAK SHOPPES GROUP LLC  ...  06014-030-000
...                           ...  ...            ...
2109               RED CHILLI INC  ...  15969-002-000
2110       JACKSON INDUSTRIES LLC  ...  16003-000-000
2112  PRAXAIR DISTRIBUTION SE LLC  ...  16035-000-000
2113                 STRAW  JASON  ...  16039-001-000
2115    CREVASSE  CAROL A TRUSTEE  ...  16174-000-000

[1253 rows x 10 columns]

In [0]:
sales_hist_df

            Date    Price Vac/Imp         Parcel
0     2013-04-05  3526500      No  05983-000-000
1     2002-04-19  3000000      No  05983-000-000
2     1999-08-16  3000000      No  05983-000-000
3     1970-01-17      100     Vac  05983-000-000
4     1967-04-12      100     Vac  05983-000-000
...          ...      ...     ...            ...
5357  1982-04-01      100     Vac  16039-001-000
5358  2002-12-17      100      No  16174-000-000
5359  1998-08-20   165000      No  16174-000-000
5360  1993-06-09   117500      No  16174-000-000
5361  1981-07-01    75000     Vac  16174-000-000

[5362 rows x 4 columns]

In [0]:
combo_df1 = sales_hist_df.join(comm_df.set_index('Parcel'), on='Parcel', how = 'outer')

In [0]:
combo_df1

            Date    Price  ... Improvement_Value              Loc_Address
0     2013-04-05  3526500  ...          713900.0  8401 NW 13TH ST LOT T42
1     2002-04-19  3000000  ...          713900.0  8401 NW 13TH ST LOT T42
2     1999-08-16  3000000  ...          713900.0  8401 NW 13TH ST LOT T42
3     1970-01-17      100  ...          713900.0  8401 NW 13TH ST LOT T42
4     1967-04-12      100  ...          713900.0  8401 NW 13TH ST LOT T42
...          ...      ...  ...               ...                      ...
5357  1982-04-01      100  ...               0.0            900 SE 5TH ST
5358  2002-12-17      100  ...           57647.0     2725 SE HAWTHORNE RD
5359  1998-08-20   165000  ...           57647.0     2725 SE HAWTHORNE RD
5360  1993-06-09   117500  ...           57647.0     2725 SE HAWTHORNE RD
5361  1981-07-01    75000  ...           57647.0     2725 SE HAWTHORNE RD

[5362 rows x 13 columns]

In [0]:
#prop_info has multiple parcel numbers, to avoid creating duplicates on my join I dropped the duplicates and loaded the unique
prop_info_unique = prop_info_df.drop_duplicates(subset='Parcel')

In [0]:
combo_df2 = combo_df1.join(prop_info_unique.set_index('Parcel'), on = 'Parcel', how='outer')

In [0]:
combo_df2

In [0]:
#grabbing the dropped duplicates for prop info
duplicated_prop_info = prop_info_df.loc[prop_info_df['Parcel'].duplicated(), :]

In [0]:
#there are still duplicates in this dataset
duplicated_prop_info

               Land Use Desc Zoning Type           Zoning Desc         Parcel
1        TRAILER PARK RENTAL          MH  MOBILE HOME 12 UT/AC  05983-000-000
9              STORE 1 FLOOR         MU2        LAND ZONE: MU2  06014-031-000
83            OFFICE 1 STORY          PD   PLANNED DEVELOPMENT  06080-000-000
91            OFFICE 1 STORY          OF            COMMERCIAL  06083-025-001
230       OFFICE MULTI STORY         BUS      GENERAL BUSINESS  06160-003-000
...                      ...         ...                   ...            ...
1282       PROFESSIONAL BLDG          U4         LAND ZONE: U4  14773-000-000
1303  PARKING LOT COMMERCIAL          U9         LAND ZONE: U9  15493-004-002
1307                   MOTEL          U8         LAND ZONE: U8  15504-000-000
1311              AUTO SALES          I2         LAND ZONE: I2  15536-004-000
1321       CONVENIENCE STORE          U9         LAND ZONE: U9  15620-001-000

[96 rows x 4 columns]

In [0]:
#filtering out duplicates in dpi
deduped_dpi = duplicated_prop_info.drop_duplicates(subset='Parcel')

In [0]:
#joining my duplicates back in, making sure my rows stay at 5362
combo_df4 = combo_df2.join(deduped_dpi.set_index('Parcel'), on = 'Parcel', how='outer', rsuffix='1')

In [0]:
#grabbing the dropped duplicates

deduped_dpi_dupes = duplicated_prop_info.loc[duplicated_prop_info['Parcel'].duplicated(), :]

In [0]:
#there are still dupes here, need to drop dupes from this
deduped_dpi_dupes

              Land Use Desc Zoning Type          Zoning Desc         Parcel
249                HOSPITAL          PD  PLANNED DEVELOPMENT  06340-007-001
307       PROFESSIONAL BLDG          OF           COMMERCIAL  06474-009-000
502          AC NON AG < 10        RMF7        RES MULTI FAM  07176-002-000
707   CONSERVATION EASEMENT         CON         CONSERVATION  08232-000-000
1071          STORE 1 FLOOR          U7        LAND ZONE: U7  12005-000-000
1072      VACANT COMMERCIAL          U7        LAND ZONE: U7  12005-000-000
1099      VACANT COMMERCIAL          DT        LAND ZONE: DT  12938-000-000

In [0]:
final_dedupe = deduped_dpi_dupes.drop_duplicates(subset='Parcel')

In [0]:
#no more duplicates here
final_dedupe

              Land Use Desc Zoning Type          Zoning Desc         Parcel
249                HOSPITAL          PD  PLANNED DEVELOPMENT  06340-007-001
307       PROFESSIONAL BLDG          OF           COMMERCIAL  06474-009-000
502          AC NON AG < 10        RMF7        RES MULTI FAM  07176-002-000
707   CONSERVATION EASEMENT         CON         CONSERVATION  08232-000-000
1071          STORE 1 FLOOR          U7        LAND ZONE: U7  12005-000-000
1099      VACANT COMMERCIAL          DT        LAND ZONE: DT  12938-000-000

In [0]:
#finally got the last duplicate
final_dedupe_1 = deduped_dpi_dupes.loc[deduped_dpi_dupes['Parcel'].duplicated(), :]

In [0]:
#need to do two more combinations, one for final_dedupe and another for final_dedupe_1
combo_df5 = combo_df4.join(final_dedupe.set_index('Parcel'), on = 'Parcel', how='outer', rsuffix='2')
sales_propinfo_df = combo_df5.join(final_dedupe_1.set_index('Parcel'), on = 'Parcel', how='outer', rsuffix='3')

In [0]:
sales_propinfo_df

            Date    Price Vac/Imp  ... Land Use Desc3 Zoning Type3  Zoning Desc3
0     2013-04-05  3526500      No  ...            NaN          NaN           NaN
1     2002-04-19  3000000      No  ...            NaN          NaN           NaN
2     1999-08-16  3000000      No  ...            NaN          NaN           NaN
3     1970-01-17      100     Vac  ...            NaN          NaN           NaN
4     1967-04-12      100     Vac  ...            NaN          NaN           NaN
...          ...      ...     ...  ...            ...          ...           ...
5357  1982-04-01      100     Vac  ...            NaN          NaN           NaN
5358  2002-12-17      100      No  ...            NaN          NaN           NaN
5359  1998-08-20   165000      No  ...            NaN          NaN           NaN
5360  1993-06-09   117500      No  ...            NaN          NaN           NaN
5361  1981-07-01    75000     Vac  ...            NaN          NaN           NaN

[5362 rows x 25 columns]

In [0]:
#combining the final scraped data set
year_built_df

           Improvement Desc  Actual Year Built  ...  Stories         Parcel
0           OFFICE LOW RISE             1973.0  ...      1.0  05983-000-000
1              SERVICE SHOP             1976.0  ...      1.0  06013-005-006
2     SUPERMARKET NBHD/CONV             1976.0  ...      1.0  06014-001-080
3           OFFICE LOW RISE             1981.0  ...      1.0  06014-005-000
4              SH CTR NBRHD             1989.0  ...      1.0  06014-030-000
...                     ...                ...  ...      ...            ...
1241           SERVICE SHOP             1975.0  ...      1.0  15954-009-000
1242  SUPERMARKET NBHD/CONV             1965.0  ...      1.0  15969-002-000
1243      WAREHOUSE STORAGE             1959.0  ...      1.0  16003-000-000
1244           STORE RETAIL             1973.0  ...      1.0  16035-000-000
1245        OFFICE LOW RISE             1982.0  ...      1.0  16174-000-000

[1246 rows x 5 columns]

In [0]:
county_df = sales_propinfo_df.join(year_built_df.set_index('Parcel'), on = 'Parcel', how='outer')

Next steps is getting rid of nan values by working on a concat method for all the columns with numerals (redundant)

In [0]:
#this one creates a series of tests returning values if the selected columns can add up and nulls if they can't
county_df['zoning_test1'] = county_df['Zoning Desc'] + ',' + county_df['Zoning Desc1']
county_df['zoning_test2'] = county_df['Zoning Desc'] + ',' + county_df['Zoning Desc1'] + ',' + county_df['Zoning Desc2'] 
county_df['zoning_test3'] = county_df['Zoning Desc'] + ',' + county_df['Zoning Desc1'] + ',' + county_df['Zoning Desc2']+ ',' + county_df['Zoning Desc3']

In [0]:
#these three fill it until it becomes a single row filled with all potential zoning desc values
county_df['test1fill'] = county_df['zoning_test1'].fillna(county_df['Zoning Desc'])
county_df['test2fill'] = county_df['zoning_test2'].fillna(county_df['test1fill'])
county_df['Zoningdesc'] = county_df['zoning_test2'].fillna(county_df['test2fill'])

In [0]:
dropped_tests = ['Zoning Desc', 'zoning_test1', 'zoning_test2', 'zoning_test3', 'test1fill', 'test2fill']

In [0]:
county_df = county_df.drop(columns = dropped_tests)

In [0]:
#for land use desc
county_df['zoning_test1'] = county_df['Land Use Desc'] + ',' + county_df['Land Use Desc' + '1']
county_df['zoning_test2'] = county_df['Land Use Desc'] + ',' + county_df['Land Use Desc' + '1'] + ',' + county_df['Land Use Desc' + '2'] 
county_df['zoning_test3'] = county_df['Land Use Desc'] + ',' + county_df['Land Use Desc' + '1'] + ',' + county_df['Land Use Desc' + '2'] + ',' + county_df['Land Use Desc' + '3']
county_df['test1fill'] = county_df['zoning_test1'].fillna(county_df['Land Use Desc'])
county_df['test2fill'] = county_df['zoning_test2'].fillna(county_df['test1fill'])
county_df['Land Use Desc' + 'master'] = county_df['zoning_test2'].fillna(county_df['test2fill'])
dropped_tests = ['Land Use Desc', 'zoning_test1', 'zoning_test2', 'zoning_test3', 'test1fill', 'test2fill']
county_df = county_df.drop(columns = dropped_tests)

In [0]:
other_drops = ['Land Use Desc', 'Land Use Desc1','Land Use Desc2', 'Land Use Desc3', 'Zoning Desc1', 'Zoning Desc2', 'Zoning Desc3']
county_df = county_df.drop(columns = other_drops)

In [0]:
#for land use desc
county_df['zoning_test1'] = county_df['Land Use Desc'] + ',' + county_df['Land Use Desc' + '1']
county_df['zoning_test2'] = county_df['Land Use Desc'] + ',' + county_df['Land Use Desc' + '1'] + ',' + county_df['Land Use Desc' + '2'] 
county_df['zoning_test3'] = county_df['Land Use Desc'] + ',' + county_df['Land Use Desc' + '1'] + ',' + county_df['Land Use Desc' + '2'] + ',' + county_df['Land Use Desc' + '3']
county_df['test1fill'] = county_df['zoning_test1'].fillna(county_df['Land Use Desc'])
county_df['test2fill'] = county_df['zoning_test2'].fillna(county_df['test1fill'])
county_df['Land Use Desc' + 'master'] = county_df['zoning_test2'].fillna(county_df['test2fill'])
dropped_tests = ['Land Use Desc', 'zoning_test1', 'zoning_test2', 'zoning_test3', 'test1fill', 'test2fill']
county_df = county_df.drop(columns = dropped_tests)

In [0]:
#for Zoning Type
county_df['zoning_test1'] = county_df['Zoning Type'] + ',' + county_df['Zoning Type' + '1']
county_df['zoning_test2'] = county_df['Zoning Type'] + ',' + county_df['Zoning Type' + '1'] + ',' + county_df['Zoning Type' + '2'] 
county_df['zoning_test3'] = county_df['Zoning Type'] + ',' + county_df['Zoning Type' + '1'] + ',' + county_df['Zoning Type' + '2'] + ',' + county_df['Zoning Type' + '3']
county_df['test1fill'] = county_df['zoning_test1'].fillna(county_df['Zoning Type'])
county_df['test2fill'] = county_df['zoning_test2'].fillna(county_df['test1fill'])
county_df['Zoning Type' + 'master'] = county_df['zoning_test2'].fillna(county_df['test2fill'])
dropped_tests = ['Zoning Type', 'Zoning Type1', 'Zoning Type2', 'Zoning Type3', 'zoning_test1', 'zoning_test2', 'zoning_test3', 'test1fill', 'test2fill']
county_df = county_df.drop(columns = dropped_tests)

In [0]:
county_df = county_df.rename(columns={"Zoningdesc": "Zoning Desc", "Land Use Descmaster": "Land Use Desc", "Zoning Typemaster": "Zoning Type"})

Adding some final extra information to the dataframe

In [0]:
rental_index = pd.read_csv('/content/drive/My Drive/Capstone_3/Extra_Prop_Data/Gainesville_rental_index.csv')
fed_funds = pd.read_csv('/content/drive/My Drive/Capstone_3/Extra_Prop_Data/fed-funds-rate-historical-chart.csv')
lat_long = pd.read_csv('/content/drive/My Drive/Capstone_3/Extra_Prop_Data/lat_long.csv')

In [0]:
rental_index

Starting with rental index merging on date time month / year

In [0]:
rental_index = rental_index.drop(columns = ['RegionID', 'RegionName', 'State', 'Metro', 'CountyName', 'SizeRank'])

In [0]:
rental_df = rental_index.T

In [0]:
rental_df.reset_index(inplace=True)

In [0]:
rental_df = rental_df.rename(columns={"index": "Date", 0: "Rental Index"})

In [0]:
from datetime import datetime as dt

In [0]:
county_df['Date'] = pd.to_datetime(county_df['Date'])

In [0]:
rental_df['Date'] = pd.to_datetime(rental_df['Date'])

In [0]:
rental_df['Month'] = rental_df['Date'].dt.month
rental_df['Year'] = rental_df['Date'].dt.year

In [0]:
county_df['Month'] = county_df['Date'].dt.month
county_df['Year'] = county_df['Date'].dt.year
county_df['Day'] = county_df['Date'].dt.day

In [0]:
county_time = pd.merge(county_df,rental_df, on=['Month','Year'], how = 'outer')

In [0]:
county_time.drop(columns='Date_y', inplace=True)

In [0]:
fed_funds['Date'] = pd.to_datetime(fed_funds['date'])

In [0]:
fed_funds['Day'] = fed_funds['Date'].dt.day
fed_funds['Month'] = fed_funds['Date'].dt.month
fed_funds['Year'] = fed_funds['Date'].dt.year
feds = fed_funds.drop(columns= ['date', 'Date'])

In [0]:
fed_county_time = pd.merge(county_time,feds, on=['Month','Year','Day'], how = 'left')

In [0]:
fed_county_time = fed_county_time.rename(columns = {' value' : 'fed_int_rate'})

In [0]:
needlesscolumns = ['OBJECTID', 'Prop_ID', 'STATEDAREA', 'MAPSHEET', 'LASTEDITOR', 'LASTUPDATE', 'Owner_Mail_Name', 
                   'Owner_Mail_Addr2', 'Owner_Mail_City', 'Owner_Mail_State', 'Owner_Mail_Zip', 'FULLADDR', 'INC_MUNI', 'POST_CODE', 'STATE', 'Shape__Area', 'Shape__Length']

In [0]:
latlong = lat_long.drop(columns = needlesscolumns)

In [0]:
latlong_drop = latlong.drop_duplicates(subset='Parcel')

In [0]:
latlong.rename(columns = {'PARCEL' : 'Parcel'}, inplace=True)

In [0]:
commercial_df = fed_county_time.join(latlong_drop.set_index('Parcel'), on='Parcel', how = 'left')

In [0]:
commercial_df.to_csv('/content/drive/My Drive/Capstone_3/commercial.csv', index=False)

In [0]:
commercial_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5362 entries, 0 to 5361
Data columns (total 27 columns):
Date_x                  5362 non-null datetime64[ns]
Price                   5362 non-null int64
Vac/Imp                 5362 non-null object
Parcel                  5362 non-null object
Owner_Mail_Name         5350 non-null object
Prop_Use_Code           5352 non-null float64
Prop_Use_Desc           5352 non-null object
NBHD_Desc               5352 non-null object
HtdSqFt                 5352 non-null float64
Acres                   5352 non-null float64
Land_Value              5351 non-null float64
Improvement_Value       5351 non-null float64
Loc_Address             5012 non-null object
Improvement Desc        5330 non-null object
Actual Year Built       5194 non-null float64
Effective Year Built    5194 non-null float64
Stories                 5194 non-null float64
Zoning Desc             5313 non-null object
Land Use Desc           5362 non-null object
Zoning Type             5313 non-null object
Month                   5362 non-null int64
Year                    5362 non-null int64
Day                     5362 non-null int64
Rental Index            1094 non-null float64
fed_int_rate            5342 non-null float64
LATITUDE                5339 non-null float64
LONGITUDE               5339 non-null float64
dtypes: datetime64[ns](1), float64(12), int64(4), object(10)
memory usage: 1.1+ MB