In [0]:
import pandas as pd
import time
df = pd.read_excel('/content/drive/My Drive/Capstone_3/Base_data/master_comm.xlsx')

In [0]:
df['Parcel'].unique()[442:]

In [0]:
df['Parcel'].unique()

array(['05983-000-000', '06013-005-006', '06014-001-080', ...,
       '16035-000-000', '16039-001-000', '16174-000-000'], dtype=object)

In [0]:
import requests
from bs4 import BeautifulSoup

test = requests.get('https://www.acpafl.org/propertysearches/parcelresults.asp?Parcel=06503-010-003').text

In [0]:
soup = BeautifulSoup(test, 'html.parser')

In [0]:
sales_table = soup.find_all('table')[-1]
sales_table.find_all('td')

[<td align="LEFT" valign="TOP">1991-11-13</td>,
 <td align="RIGHT" valign="TOP">37400</td>,
 <td align="LEFT" valign="TOP">No</td>,
 <td align="LEFT" valign="TOP">Q-OLD SALE - QUALIFIED</td>,
 <td align="LEFT" valign="TOP">1835                </td>,
 <td align="LEFT" valign="TOP">2888                </td>,
 <td align="LEFT" valign="TOP">WD        </td>,
 <td align="LEFT" valign="TOP"><a href="http://isol.alachuaclerk.org/RealEstate/SearchDetail.aspx?docid=1104106&amp;ms=0" target="Blank">Official Public Record</a></td>]

In [0]:
sales_table

<table border="2" cellpadding="2" cellspacing="0" width="100%"><tr><th align="LEFT" valign="BOTTOM"><a href="appraisaltermshelp.html#SaleDateHelp" target="blank">Date</a></th><th align="RIGHT" valign="BOTTOM"><a href="appraisaltermshelp.html#SaleAmountHelp" target="blank">Price</a></th><th align="LEFT" valign="BOTTOM"><a href="appraisaltermshelp.html#VacImpHelp" target="blank">Vac/Imp</a></th><th align="LEFT" valign="BOTTOM"><a href="appraisaltermshelp.html#QualifiedHelp" target="blank">Qualified</a></th><th align="LEFT" valign="BOTTOM"><a href="appraisaltermshelp.html#ORBookPageHelp" target="blank">OR Book</a></th><th align="LEFT" valign="BOTTOM"><a href="appraisaltermshelp.html#ORBookPageHelp" target="blank">OR Page</a></th><th align="LEFT" valign="BOTTOM"><a href="appraisaltermshelp.html#InstrumentHelp" target="blank">Instrument</a></th><th align="LEFT" valign="BOTTOM">OR Link (Clerk)</th></tr><tr><td align="LEFT" valign="TOP">1991-11-13</td><td align="RIGHT" valign="TOP">37400</td><td align="LEFT" valign="TOP">No</td><td align="LEFT" valign="TOP">Q-OLD SALE - QUALIFIED</td><td align="LEFT" valign="TOP">1835                </td><td align="LEFT" valign="TOP">2888                </td><td align="LEFT" valign="TOP">WD        </td><td align="LEFT" valign="TOP"><a href="http://isol.alachuaclerk.org/RealEstate/SearchDetail.aspx?docid=1104106&amp;ms=0" target="Blank">Official Public Record</a></td></tr></table>

In [0]:
parcel_number='06474-009-000'
csv_intro = pd.read_html(f'https://www.acpafl.org/propertysearches/parcelresults.asp?Parcel={parcel_number}')[-1][['Date','Price']]

In [0]:
csv_intro.to_csv(f'sample_data/{parcel_number}.csv', index=False)

In [0]:
csv_intro['Parcel'] = parcel_number
csv_intro

         Date   Price         Parcel
0  2005-09-30  515000  06474-009-000
1  1984-09-01  100000  06474-009-000
2  1983-05-01  100000  06474-009-000
3  1982-02-01       0  06474-009-000

In [0]:
parcel_number1='06501-010-000'
csv_intro1 = pd.read_html(f'https://www.acpafl.org/propertysearches/parcelresults.asp?Parcel={parcel_number}')[-1][['Date','Price','Vac/Imp']]

In [0]:
csv_intro1['Parcel'] = parcel_number1
csv_intro1

         Date   Price Vac/Imp         Parcel
0  2005-09-30  515000      No  06501-010-000
1  1984-09-01  100000     Vac  06501-010-000
2  1983-05-01  100000     Vac  06501-010-000
3  1982-02-01       0     Vac  06501-010-000

In [0]:
pd.concat([csv_intro,csv_intro1])

         Date   Price         Parcel
0  2005-09-30  515000  06474-009-000
1  1984-09-01  100000  06474-009-000
2  1983-05-01  100000  06474-009-000
3  1982-02-01       0  06474-009-000
0  2005-09-30  515000  06501-010-000
1  1984-09-01  100000  06501-010-000
2  1983-05-01  100000  06501-010-000
3  1982-02-01       0  06501-010-000

In [0]:
test_df = pd.DataFrame()

for parcel in df['Parcel'].unique():
  temp_df = pd.read_html(f'https://www.acpafl.org/propertysearches/parcelresults.asp?Parcel={parcel}')[-1][['Date','Price','Vac/Imp']]
  temp_df['Parcel'] = parcel
  test_df = pd.concat([test_df,temp_df])
  #time.sleep(0.5) to not delay

In [0]:
test_df = test_df.sort_values(by=['Parcel','Date'])

In [0]:
test_df['pct_change'] = test_df.groupby('Parcel')['Price'].apply(pd.Series.pct_change)

In [0]:
test_df

          Date    Price Vac/Imp         Parcel
0   2013-04-05  3526500      No  05983-000-000
1   2002-04-19  3000000      No  05983-000-000
2   1999-08-16  3000000      No  05983-000-000
3   1970-01-17      100     Vac  05983-000-000
4   1967-04-12      100     Vac  05983-000-000
..         ...      ...     ...            ...
6   1982-04-01      100     Vac  16039-001-000
0   2002-12-17      100      No  16174-000-000
1   1998-08-20   165000      No  16174-000-000
2   1993-06-09   117500      No  16174-000-000
3   1981-07-01    75000     Vac  16174-000-000

[5362 rows x 4 columns]

In [0]:
test_df.to_csv(f'/content/drive/My Drive/Capstone_3/Base_data/sales_hist.csv', index=False)

Same process, but working on getting extra parcel details

In [0]:
details_df = pd.read_html('https://www.acpafl.org/propertysearches/parcelresults.asp?Parcel=06474-008-001')

In [0]:
details_df[7]

   Land Use       Land Use Desc Zoning Type  ...   Acres   Sq Feet  Land Type
0      1800  OFFICE MULTI STORY          OF  ...  0.3413  14865.88         SF

[1 rows x 8 columns]

In [0]:
zoning_info_df = pd.DataFrame()

for parcel in df['Parcel'].unique():
  temp_df = pd.read_html(f'https://www.acpafl.org/propertysearches/parcelresults.asp?Parcel={parcel}')[7][['Land Use Desc','Zoning Type','Zoning Desc']]
  temp_df['Parcel'] = parcel
  zoning_info_df = pd.concat([zoning_info_df,temp_df])

In [0]:
zoning_info_df.to_csv(f'/content/drive/My Drive/Capstone_3/Base_data/prop_info.csv', index=False)

In [0]:
details_df[8].columns

Index(['Improvement Use Code', 'Improvement Desc', 'Actual Year Built',
       'Effective Year Built', 'Htd Square Feet', 'Stories'],
      dtype='object')

In [0]:
yearbuilt_df_cols = ['Improvement Desc', 'Actual Year Built','Effective Year Built', 'Stories']

yearbuilt_info_df = pd.DataFrame()

for parcel in df['Parcel'].unique():
  try:
    temp_df = pd.read_html(f'https://www.acpafl.org/propertysearches/parcelresults.asp?Parcel={parcel}')[8][['Improvement Desc', 'Actual Year Built','Effective Year Built', 'Stories']]
    temp_df['Parcel'] = parcel
    yearbuilt_info_df = pd.concat([yearbuilt_info_df,temp_df])
  except:
    print(parcel)
    pass

06800-010-001
12620-000-000
13423-000-000
14560-000-000
15238-000-000
15620-001-000
16039-001-000

In [0]:
yearbuilt_info_df.to_csv(f'/content/drive/My Drive/Capstone_3/Base_data/yearbuilt_info_master.csv', index=False)

In [0]:
yearbuilt_info_df

         Improvement Desc  Actual Year Built  ...  Stories         Parcel
0         OFFICE LOW RISE             1973.0  ...      1.0  05983-000-000
0            SERVICE SHOP             1976.0  ...      1.0  06013-005-006
0   SUPERMARKET NBHD/CONV             1976.0  ...      1.0  06014-001-080
0         OFFICE LOW RISE             1981.0  ...      1.0  06014-005-000
0            SH CTR NBRHD             1989.0  ...      1.0  06014-030-000
..                    ...                ...  ...      ...            ...
0            SERVICE SHOP             1975.0  ...      1.0  15954-009-000
0   SUPERMARKET NBHD/CONV             1965.0  ...      1.0  15969-002-000
0       WAREHOUSE STORAGE             1959.0  ...      1.0  16003-000-000
0            STORE RETAIL             1973.0  ...      1.0  16035-000-000
0         OFFICE LOW RISE             1982.0  ...      1.0  16174-000-000

[1246 rows x 5 columns]